a {
    color:#2E6E9E;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
a img {
border: none;
}
#logo {
box-shadow: 1px 1px black;
}
#wrap {
/*border: 1px solid black;*/
position: relative;
width: 800px;
margin: 0 auto;
}
div#results {
float: left;
display: none;
width: 25em;
}
div#results div {
display: table-row;
}
div#results p {
display: table-cell;
padding: 0.5em 1.1em;
width: 250px;
}
#results p img {
vertical-align: middle;
}
#details {
position: absolute;
background: white;
border: 1px solid black;
display: none;
padding: 5px;
z-index: 5;
}
#details span {
font-size:16px;
}
#img {
text-align: center;
display: block;
padding: 5px;
}
nav {
position: absolute;
top: 0px;
right: 15px;
}
#col {
width: 140px;
float: left;
height: 100%;
position: relative;
}
#imginfo {
float: left;
}
body {
background: #f5fbff;
font-family: Helvetica, arial, sans-serif;
}
header {
position: relative;
top: 200px;
width: 800px;
}
header.details {
top: 0;
}
header div {
width: 450px;
position: relative;
left: 250px;
top: -72px;
}
header input[type=text] {
width: 300px;
height: 30px;
padding: 0;
position: absolute;
font-size: 22px;
border: 1px solid black;
box-shadow: 1px 1px black;
-webkit-box-shadow: 1px 1px black;
-moz-box-shadow: 1px 1px black;
color: #666;
padding: 4px 4px 6px 4px;
border-top-left-radius: 0.3em;
border-bottom-left-radius: 0.3em;
-webkit-border-top-left-radius: 0.3em;
-webkit-border-bottom-left-radius: 0.3em;
-moz-border-radius-topleft:0.3em;
-moz-border-radius-bottomleft:0.3em;
}
header input[type=submit] {
width: 70px;
height: 42px;
border: 1px solid black;
background: #ccc;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#ccc));
position: absolute;
top: 0px;
left: 309px;
box-shadow: 1px 1px black;
-webkit-box-shadow: 1px 1px black;
-moz-box-shadow: 1px 1px black;
font-size: 18px;
border-top-right-radius: 0.3em;
border-bottom-right-radius: 0.3em;
-webkit-border-top-right-radius: 0.3em;
-webkit-border-bottom-right-radius: 0.3em;
-moz-border-radius-topright:0.3em;
-moz-border-radius-bottomright:0.3em;
}
header input.clicked {
background: #ccc;
}
form {
width: 350px;
}
.plus{color:orange;}
.stars{color:grey;}
.klabam{display:none;}
#detail_box{float:left;width:580px;padding-left: 10px;border-left: 1px solid lightblue;}
#col .stars {display:relative;color: black;}
#col .stars span {color: black;}
#col .stars img {clear:both;display:block;right:0;}
#col.details {text-align:right;padding: 0 10px;width:180px;}
#col.colors {border-right:1px solid lightblue; padding-bottom:130px;}
.stars #avg_vote {position:absolute;top:85px;left:90px;}
.stars #your_vote {position:absolute;top:85px;left:140px;}
.stars #your_vote img {}
.colors ul { list-style:none; margin:0;}
.colors p {margin:0;margin-top:12px;}
.comment a {text-decoration:none;}
.comment {border-top:1px solid lightblue; margin-bottom: 15px;}
.comment > span {margin-top:15px;display:block;}
#flash {position:absolute; top:350px;left:138px;}
ul {padding-left: 15px;}
#add_comment {position:relative;}
#add_comment textarea {height:60px;width:560px;}
#add_comment button {position:relative;left:510px;}
